.about {
    text-align: center;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.about h1 span {
    background-color: #333;
    color: #a12e2e;
    padding: 0.25em;
}

.about p {
    max-width: 500px;
    margin: 0 auto 1.5em;
    line-height: 1.5em;
}
